.edit-modal .modal__label {
  margin-top: 24px;
}

.edit-modal .modal__submit {
  width: 128px;
  margin: 32px 12px 0 0;
}

.edit-modal .modal__switch {
  font-family: "Cabinet Grotesk Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  max-width: 73px;
  width: 100%;
  height: 36px;
  border: none;
  color: #000;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  background: none;
  transition: opacity 0.3s ease-in-out;
  align-self: flex-end;
}

.edit-modal .modal__switch:hover {
  cursor: pointer;
  opacity: 1;
}

.edit-modal .modal__actions {
  margin: 0;
  display: flex;
  gap: 0;
}
