.card {
  max-width: 323px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__image {
  max-width: 323px;
  max-height: 325px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #0000004d;
  border-radius: 20px;
}

.card__name {
  position: absolute;
  width: 73px;
  height: 24px;
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

.card__like-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: transparent url("../../images/heart.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.card__like-btn:hover {
  opacity: 0.6;
}

.card__like-btn_active {
  background-image: url("../../images/heart-active.svg");
}
