.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__date-location {
  margin: 0;
}

.header__controls {
  display: flex;
  margin: 0 20px 0 auto;
}

.header__username {
  margin: 0;
}

.header__add-clothes-btn {
  padding: 0 20px;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  background-color: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-avatar_placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
}

.header__logo {
  margin-right: 24px;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
