.cards__list {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards__text {
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 24px;
}
