.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__username {
  margin: 0;
}

.sidebar__user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #e0e0e0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
}

.sidebar__edit-btn {
  font-family: "Cabinet Grotesk Medium", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 20px;
  max-width: 171px;
  width: 100%;
  height: 36px;
  text-align: left;
  border: none;
  color: #000;
  background: none;
  margin-top: 24px;
  padding: 0;
}

.sidebar__auth-btn {
  font-family: "Cabinet Grotesk Medium", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 20px;
  max-width: 65px;
  text-align: left;
  width: 100%;
  height: 36px;
  border: none;
  color: #000;
  background: none;
  margin: 0;
  padding: 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
