.clothes-section {
  max-width: 1015px;
  width: 100%;
}

.clothes-section__top {
  display: flex;
  gap: 20px;
}

.clothes-section__list {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clothes-section__btn {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  transition: 0.4s linear ease-in-out;
  cursor: pointer;
}

.clothes-section__btn:hover {
  opacity: 1;
}
